.cafe-container3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 18%;
    border-radius: 25px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.2);
    left: 5%;
    top: 55%;
    background-color:  white;
}

.cafe-container3 .name {
    position: relative;
    font-size: 1em;
    height: 20%;
    width: 100%;
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 800;
}

.cafe-container3 .image-gallery {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 45%;
    width: 100%;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}

.cafe-container3 .tag {
    position: relative;
    height: 20%;
    font-size: 0.9em;
    font-weight: 700;
    color: #90796E;
    padding-left: 20px;
}

.cafe-container3 .empty {
    position: relative;
    text-align: right;
    height: 15%;
    width: 100%;
    background-image: linear-gradient(90deg, #90796E 0%, #3A1E11 98.98%);
    border-radius: 0px 0px 0px 25px;
    font-weight: 700;
    padding-top: 0.2em;
    font-size: 0.7em;
    color: #FFF;
    padding-right: 5px;
}

.cafe-container3 .image-gallery img {
    position: relative;
    width: 25%;
    border-radius: 10px;
    padding: 2px;
}