.sixth-page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #141414;
}

.sixth-page-container .title {
    position: relative;
    font-weight: 700;
    font-size: 3em;
    color: #B19384;
    width: 100%;
    height: 10vh;
    text-align: center;
    margin-top: 10vh;
}

.sixth-page-container .content {
    position: relative;
    font-weight: 700;
    font-size: 2.5em;
    color: #FFFFFF;
    width: 100%;
    height: 8vh;
    text-align: center;
}

.sixth-page-container .download {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30vh;
}

.sixth-page-container .download img {
    padding-left: 4vh;
    padding-right: 4vh;
    height: 100%;
    width: auto;
}

.sixth-page-container .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    height: 5vh;
    margin-top: 15vh;
}

.sixth-page-container .footer img {
    position: relative;
    width: auto;
    height: 100%;
}

.sixth-page-container .footer .media {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50%;
    padding-left: 80vh;
}

.sixth-page-container .footer .media img {
    position: relative;
    padding: 1vh;
}